name: CI/CD AWS Lambda

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Checkout do c칩digo
        uses: actions/checkout@v3

      - name: 游댢 Configurar JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: 游닍 Compilar o projeto
        run: mvn clean package

      - name: 游댧 Executar Testes
        run: mvn test

  deploy:
    name: Deploy para AWS Lambda
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.ref == 'refs/heads/main'

    steps:
      - name: 游닌 Checkout do c칩digo
        uses: actions/checkout@v3

      - name: 游댢 Instalar AWS CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli

      - name: 游댢 Instalar AWS SAM CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/aws/aws-sam-cli/main/install.sh | sudo bash

      - name: 游 Fazer Deploy para AWS Lambda
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-east-1"
        run: |
          sam build
          sam deploy --stack-name minha-aplicacao-lambda --capabilities CAPABILITY_IAM --no-confirm-changeset
